@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --grey0: #f8f8f8;
    --grey1: #dbe1e8;
    --grey2: #b2becd;
    --grey3: #6c7893;
    --grey4: #454e56;
    --grey5: #2a2e35;
    --grey6: #12181b;
    --blue: #0084a5;
    --purple: #a82dd1;
    --yellow: #fff565;
}

.light{
    --bg: var(--grey0);
    --bg-nav: linear-gradient(to right, var(--grey1), var(--grey3)) ;
    --bg-dropdown: var(--grey0);
    --text: var(--grey6);
    --border-col: var(--blue);
    --bg-solar: var(--yellow);
}

#light::before{
    background: white;
}

.dark{
    --bg: var(--grey5);
    --bg-nav: linear-gradient(to right, var(--grey5), var(--grey6)) ;
    --bg-dropdown: var(--grey6);
    --text: var(--grey0);
    --border-col: var(--purple);
    --bg-solar: var(--blue);
}

#dark::before{
    background: #2a2e35;
}

.solar{
    --grey0: #fbffd4;
    --grey1: #f7f8d0;
    --grey2: #b6f880;
    --grey3: #5ec72d;
    --grey4: #3ea565;
    --grey5: #005368;
    --grey6: #003d4c;
}

#solar::before{
    background: var(--bg-solar);
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--text);
    background: var(--bg);
}

ul{
    list-style: none;
}

a{
    color: currentColor;
    text-decoration: none;
}

.navbar{
    height: 5em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: var(--bg-nav);
    color: var(--text);
}

.navbar-nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.nav-item{
    padding: 30px;
}

.theme-btn:focus-within .theme-dropdown{
    opacity: 1;
    pointer-events: auto;
}

.theme-dropdown{
    display: flex;
    align-items: center;
    justify-content: space-around;

    position: absolute;
    width: 300px;
    height: 3em;
    margin-top: 2rem;
    padding: 0.5rem;    

    background: var(--bg-dropdown);
    border-top: 2px solid var(--border-col);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    opacity: 0;
    z-index: 2;

    transform: translate(-95%, -55%);
    transition: opacity 0.15s ease-out;
}

.dropdown-item a{
    width: 100%;
    height: 100%;
    size: 0.7rem;
    padding: 10px;
}

.dropdown-item a::before{
    content: '';
    border: 2px solid var(--border-col);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 150px;
    text-align: center;
    background: var(--grey5);
}