@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --grey0: hsl(0, 0%, 97%);
    --grey1: hsl(212, 22%, 88%);
    --grey2: hsl(213, 21%, 75%);
    --grey3: hsl(222, 15%, 50%);
    --grey4: hsl(208, 11%, 30%);
    --grey5: hsl(218, 12%, 19%);
    --grey6: hsl(200, 20%, 9%);
    --blue: hsl(192, 100%, 32%);
    --purple: hsl(285, 65%, 50%);
    --yellow: hsl(56, 100%, 70%);
}

.light{
    --bg: var(--grey0);
    --bg-nav: linear-gradient(to right, var(--grey1), var(--grey3)) ;
    --bg-dropdown: var(--grey0);
    --text: var(--grey6);
    --border-col: var(--blue);
    --bg-solar: var(--yellow);
}

#light::before{
    background: white;
}

.dark{
    --bg: var(--grey5);
    --bg-nav: linear-gradient(to right, var(--grey5), var(--grey6)) ;
    --bg-dropdown: var(--grey5);
    --text: var(--grey0);
    --border-col: var(--purple);
    --bg-solar: var(--blue);
}

#dark::before{
    background: hsl(218, 12%, 19%);
}

.solar{
    --grey0: hsl(66, 100%, 92%);
    --grey1: hsl(61, 74%, 89%);
    --grey2: hsl(93, 90%, 74%);
    --grey3: hsl(101, 63%, 48%);
    --grey4: hsl(143, 45%, 45%);
    --grey5: hsl(192, 100%, 20%);
    --grey6: hsl(192, 100%, 15%);
}

#solar::before{
    background: var(--bg-solar);
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--text);
    background: var(--bg);
}

ul{
    list-style: none;
}

a{
    color: currentColor;
    text-decoration: none;
}

.navbar{
    height: 5em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-nav);
    color: var(--text);
}

.navbar-nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo{
    font-weight: bolder;
    color: var(--text);
    margin-left: 30px;
    padding: 0 15px;
    border: 2px solid var(--border-col);
    border-radius: 50px;
    transition: all 300ms ease-in;
}

.logo:hover{
    background-color: var(--border-col);
    animation: color-rotate 1000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.nav-item,
.theme-btn{
    padding: 30px;
    transition: all 150ms ease-in-out;
}

.nav-item:hover{
    color: var(--border-col);
}

.theme-btn:focus-within .theme-dropdown{
    opacity: 1;
    pointer-events: auto;
}

.theme-dropdown{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 120px;
    height: 3em;
    margin-top: 2rem;
    padding: 0.5rem;    
    background: var(--bg-dropdown);
    border-top: 2px solid var(--border-col);
    opacity: 0;
    z-index: 2;
    transform: translate(-95%, -55%);
    transition: opacity 0.15s ease-out;
}

.dropdown-item{
    padding: 5px;
}

.dropdown-item a{
    width: 100%;
    height: 100%;
}

.dropdown-item a::before{
    content: '';
    border: 2px solid var(--border-col);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 150px;
    text-align: center;
}

@keyframes color-rotate{
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(-90deg);
    }
}

@media screen and (max-width: 650px) {

    main{
        padding: 6rem 25px 0 25px;
    }
}